# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# 기타
node_modules/
*.md
!README.md
.DS_Store
.vscode/ 